* {
  margin: 0;
  font-family: 'Sunflower', sans-serif;
}

.header-container {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-left: 3%;
  position: fixed;
  background: #815fc0;
}

.logo {
  width: 70px;
  height: 70px;
  padding: 10px;
  display: flex;
  align-self: center;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.header-list {
  display: flex;
  align-items: center;
  margin-left: 40px;
  background: #503484;
}

.header-list-item {
  transition: .3s;
  width: 100px;
  display: inline;
  margin-right: 40px;
  border-bottom: 0px solid white;
  font-size: 17px;
}

.header-list-item:hover {
  border-bottom: 5px solid white;
}

@media screen and (max-width: 435px) {

.header-list-item {
  margin-right: 20px;
}

.header-list {
  margin-left: 20px;
  padding-right: 20px;
}

.logo {
  padding: 0 !important;
}
}

.landing-page-container {
  background: #F2F2F2;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 140px;
  padding-bottom: 50px;
  max-width: 100%;
  width: 100%;
  min-width: 100%;
}

.livestream {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: 5px solid #815fc0;
  z-index: 10;
  overflow: visible;
  transition: 1s;
}

.livestream:hover {
  border: 5px solid red;
}

.chat {
  border-left: none;
}

@media screen and (max-width: 1679px) {

.livestream,
.chat {
  visibility: hidden;
  display: none;
}

.mobile-watch-now {
  visibility: visible !important;
  display: flex !important;
}
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #503484;
}

body {
  overflow-x: hidden;
}

.watch-now-button {
  background-color: #815FC0;
  padding: 20px 30px;
}

.mobile-watch-now {
  visibility: hidden;
  display: none;
}
